* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1325px) {

    :root {
        --textos-h1: 30px;
        /* --textos-h2: 80px;     */
        --textos-h3: 35px;

        --textos-labels: 20px;

        --textos-p: 25px;
        --textos-b: 15px;
        --texto-strong: 20px;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #F6F4EB;
        background: linear-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;
    }

    header h1,
    h2 {
        font-size: var(--textos-h1);
        margin: 1rem 0 0 0;
        text-decoration: underline;
    }

    header ul {
        width: 100%;
        margin: 1rem 0 0 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header ul li:hover {
        color: black;
        border: 1px solid #F6F4EB;
        border-radius: 20px 0 20px 0;
    }

    #labelHeaders {
        margin: 0;
        padding: 0;
        font-size: var(--textos-labels);
    }


    main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        position: absolute;
        top: 25%;
        color: #F6F4EB;
        box-sizing: border-box;
    }

    .esconderInputs {
        display: none;
    }

    #SeccionPresentacion {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #SeccionPresentacion h3 {
        width: 100%;
        margin: 2rem 0 2rem 0;
        padding: 0;
        text-decoration: underline;
        font-size: var(--textos-h3);
        text-shadow: 6px 0 5px;
    }

    #articlep {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;
        justify-items: center;
        box-sizing: border-box;
    }

    #fotoPerfil {
        width: 50%;
        margin: 0;
        padding: 0 0 0 0;
        border-radius: 0 50% 0 50%;
        box-sizing: border-box;
    }

    #brevePresentacion {
        width: 100%;
        margin: 0;
        padding: 0 3rem 0 0;
        font-size: var(--textos-p);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-shadow: 5px 0px 5px;
        box-sizing: border-box;
    }



    #sectionHabilidades {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }

    #secciones {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #sectionHabilidades h3 {
        width: 100%;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        font-size: var(--textos-h3);
        text-shadow: 8px 0px 8px;
    }

    #sectionHabilidades ul {
        list-style: none;
        width: 80%;
        display: flex;
        text-align: start;
        flex-direction: column;
    }

    #sectionHabilidades b {
        margin: 0;
        padding: 0;
        font-size: var(--textos-b);
        text-shadow: 4px 2px 5px;
    }

    #sectionHabilidades strong {
        text-shadow: 5px 0px 5px;
    }

    #lenguajes {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    #programas {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    #fondoBarra {
        width: 100%;
        height: 20px;
        margin: 0;
        padding: 0;
        border-radius: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: end;

        font-size: var(--texto-strong);
        background-color: #749BC2;
    }

    /* barra de Programas*/

    #barra70 {
        width: 70%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra30 {
        width: 30%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra20 {
        width: 20%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #cargar {
        width: 1%;
        height: 100%;

        border-radius: 50px;
        background: linear-gradient(to right, #749bc236, #91c8e463);

        animation: cargandoBarra 3s linear infinite;
    }

    #barra40 {
        width: 40%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra5 {
        width: 1%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    @keyframes cargandoBarra {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }


    footer {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;
    }

    footer ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer ul li a {
        width: 17%;
        border-radius: 50%;
        background: #F6F4EB;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer ul li a:hover {
        background-color: #4682A9;
    }

    #logosEnlaces {
        width: 80%;
        border-radius: 50%;
    }

    div {
        background: #4682A9;
    }
}

@media screen and (max-width: 400px) {

    :root {
        --textos-h1: 20px;
        /* --textos-h2: 80px;     */
        --textos-h3: 20px;

        --textos-labels: 20px;

        --textos-p: 12px;
        --textos-b: 10px;
        --texto-strong: 10px;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #F6F4EB;
        background: linear-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;
    }

    header h1,
    h2 {
        font-size: var(--textos-h1);
        margin: 1rem 0 0 0;
        text-decoration: underline;
    }

    header ul {
        width: 100%;
        margin: 1rem 0 0 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header ul li:hover {
        color: black;
        border: 1px solid #F6F4EB;
        border-radius: 20px 0 20px 0;
    }

    #labelHeaders {
        margin: 0;
        padding: 0;
        font-size: var(--textos-labels);
    }


    main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        position: absolute;
        top: 23%;
        color: #F6F4EB;
        box-sizing: border-box;
    }

    .esconderInputs {
        display: none;
    }

    #SeccionPresentacion {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #SeccionPresentacion h3 {
        width: 100%;
        margin: 1rem 0 1rem 0;
        padding: 0;
        text-decoration: underline;
        font-size: var(--textos-h3);
        text-shadow: 6px 0 5px;
    }

    #articlep {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        box-sizing: border-box;
    }

    #fotoPerfil {
        width: 40%;
        margin: 0;
        padding: 0 0 0 0;
        border-radius: 0 50% 0 50%;
        box-sizing: border-box;
    }

    #brevePresentacion {
        width: 100%;
        margin: 0;
        padding: 2rem 2rem 0 2rem;
        font-size: var(--textos-p);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-shadow: 5px 0px 5px;
        box-sizing: border-box;
    }



    #sectionHabilidades {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }

    #secciones {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    #sectionHabilidades h3 {
        width: 100%;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        font-size: var(--textos-h3);
        text-shadow: 8px 0px 8px;
    }

    #sectionHabilidades ul {
        list-style: none;
        width: 80%;
        display: flex;
        text-align: start;
        flex-direction: column;
    }

    #sectionHabilidades b {
        margin: 0;
        padding: 0;
        font-size: var(--textos-b);
        text-shadow: 4px 2px 5px;
    }

    #sectionHabilidades strong {
        text-shadow: 5px 0px 5px;
    }

    #lenguajes {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    #programas {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    #fondoBarra {
        width: 100%;
        height: 10px;
        margin: 0;
        padding: 0;
        border-radius: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: end;

        font-size: var(--texto-strong);
        background-color: #749BC2;
    }

    /* barra de Programas*/

    #barra70 {
        width: 70%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra30 {
        width: 30%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra20 {
        width: 20%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #cargar {
        width: 1%;
        height: 100%;

        border-radius: 50px;
        background: linear-gradient(to right, #749bc236, #91c8e463);

        animation: cargandoBarra 3s linear infinite;
    }

    #barra40 {
        width: 40%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    #barra5 {
        width: 1%;
        height: 30%;
        border-radius: 40px;
        background: linear-gradient(to left, #F6F4EB, #91C8E4);
    }

    @keyframes cargandoBarra {
        0% {
            width: 0%;
            height: 0%;
        }

        100% {
            width: 100%;
            height: 100%;
        }
    }


    footer {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;
    }

    footer ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer ul li a {
        width: 40%;
        border-radius: 50%;
        background: #F6F4EB;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer ul li a:hover {
        background-color: #4682A9;
    }

    #logosEnlaces {
        width: 100%;
        border-radius: 50%;
    }

    div {
        background: #4682A9;
    }
}