* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1325px) {

    :root {
        --textos-h1: 30px;
        /* --textos-h2: 80px;     */
        --textos-h3: 35px;

        --textos-labels: 20px;

        --textos-p: 25px;
        --textos-b: 15px;
        --texto-strong: 20px;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #F6F4EB;
        background: linear-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;

        h1,
        h2 {
            font-size: var(--textos-h1);
            margin: 1rem 0 0 0;
            text-decoration: underline;
            text-shadow: 1px 1px 1px black;
        }

        dl {
            width: 100%;
            margin: 1rem 0 0 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        dl dt {
            width: 10%;
            display: flex;
            justify-content: center;
        }

        dl dt label:hover {
            background: radial-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
            color: black;
            border: 1px solid #F6F4EB;
        }

        dl dt label {
            margin: 0;
            padding: 0;
            font-size: var(--textos-labels);
        }

        dl dt label img {
            width: 100%;
            height: 100%;
            margin: 0;
        }

    }


    main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        position: absolute;
        top: 25%;
        color: #F6F4EB;
        box-sizing: border-box;

        p {
            width: 100%;
            margin: 0;
            padding: 0 3rem 0 0;
            font-size: var(--textos-p);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: justify;
            box-sizing: border-box;
        }

        input {
            display: none;
        }

    }

    #SeccionPresentacion {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        h3 {
            width: 100%;
            margin: 2rem 0 2rem 0;
            padding: 0;
            text-decoration: underline;
            font-size: var(--textos-h3);
        }

        article {
            width: 100%;
            margin: 0 0 0 0;
            padding: 0;
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            justify-items: center;
            box-sizing: border-box;
        }

        img {
            width: 70%;
            margin: 0;
            padding: 0 0 0 0;
            border-radius: 50%;
            aspect-ratio: 1/1;
            box-sizing: border-box;
        }
    }

    #sectionHabilidades {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;

        section {
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        h3 {
            width: 100%;
            margin: 0;
            padding: 0;
            text-decoration: underline;
            font-size: var(--textos-h3);
        }

        ul {
            list-style: none;
            width: 80%;
            display: flex;
            text-align: start;
            flex-direction: column;
        }

        b {
            margin: 0;
            padding: 0;
            font-size: var(--textos-b);
        }

        strong {
            font-size: 12px;
        }

        #lenguajes {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        #programas {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        #fondoBarra {
            width: 100%;
            height: 20px;
            margin: 0;
            padding: 0;
            border-radius: 40px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: end;

            font-size: var(--texto-strong);
            background-color: #749BC2;
        }

        #barra70 {
            width: 70%;
            height: 100%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra30 {
            width: 30%;
            height: 100%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra20 {
            width: 20%;
            height: 100%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #cargar {
            width: 1%;
            height: 100%;

            border-radius: 50px;
            background: linear-gradient(to right, #749bc236, #91c8e463);

            animation: cargandoBarra 3s linear infinite;
        }

        #barra40 {
            width: 40%;
            height: 100%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra5 {
            width: 2%;
            height: 80%;
            border-radius: 50%;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }
    }

    /* barra de Programas*/
    @keyframes cargandoBarra {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    footer {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        ul li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul li a {
            width: 17%;
            border-radius: 50%;
            background: #F6F4EB;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul li a:hover {
            background-color: #4682A9;
        }

        #logosEnlaces {
            width: 80%;
            border-radius: 50%;
        }

    }

    div {
        background: #4682A9;
    }
}

@media screen and (max-width: 400px) {

    :root {
        --textos-h1: 18px;
        /* --textos-h2: 80px;     */
        --textos-h3: 16px;

        --textos-labels: 13px;

        --textos-p: 12px;
        --textos-b: 8px;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #F6F4EB;
        background: linear-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;

        h1,
        h2 {
            font-size: var(--textos-h1);
            margin: 1rem 0 0 0;
            text-decoration: underline;
        }

       
        dl {
            width: 100%;
            margin: 1rem 0 0 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        dl dt {
            width: 7%;
            display: flex;
            justify-content: center;
        }

        dl dt label:hover {
            background: radial-gradient(#F6F4EB, #91C8E4, #749BC2, #4682A9);
            color: black;
            border: 1px solid #F6F4EB;
        }

        dl dt label {
            margin: 0;
            padding: 0;
            font-size: var(--textos-labels);
        }

        dl dt label img {
            width: 100%;
            height: 100%;
            margin: 0;
        }


    }



    main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
        position: absolute;
        top: 20%;
        color: #F6F4EB;
        box-sizing: border-box;

        input {
            display: none;
        }
    }


    #SeccionPresentacion {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        h3 {
            width: 100%;
            margin: 1rem 0 1rem 0;
            padding: 0;
            text-decoration: underline;
            font-size: var(--textos-h3);
        }

        article {
            width: 100%;
            margin: 0 0 0 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            box-sizing: border-box;
        }

        p {
            width: 100%;
            margin: 0;
            padding: 2rem 2rem 0 2rem;
            font-size: var(--textos-p);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: justify;
            box-sizing: border-box;
        }

        img {
            width: 30%;
            margin: 0;
            padding: 0 0 0 0;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }

    #sectionHabilidades {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;

        section {
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        h3 {
            width: 100%;
            margin: 0;
            padding: 0;
            text-decoration: underline;
            font-size: var(--textos-h3);
        }

        ul {
            list-style: none;
            width: 80%;
            display: flex;
            text-align: start;
            flex-direction: column;
        }

        b {
            margin: 0;
            padding: 0;
            font-size: var(--textos-b);
        }

        strong {
            font-size: 6px;
        }

        #lenguajes {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        #programas {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }

        #fondoBarra {
            width: 100%;
            height: 10px;
            margin: 0;
            padding: 0;
            border-radius: 40px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: end;

            font-size: var(--texto-strong);
            background-color: #749BC2;
        }

        /* barra de Programas*/

        #barra70 {
            width: 70%;
            height: 80%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra30 {
            width: 30%;
            height: 80%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra20 {
            width: 20%;
            height: 80%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #cargar {
            width: 1%;
            height: 100%;

            border-radius: 50px;
            background: linear-gradient(to right, #749bc236, #91c8e463);

            animation: cargandoBarra 3s linear infinite;
        }

        #barra40 {
            width: 40%;
            height: 80%;
            border-radius: 40px;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

        #barra5 {
            width: 2%;
            height: 80%;
            border-radius: 50%;
            background: linear-gradient(to left, #F6F4EB, #91C8E4);
        }

    }


    @keyframes cargandoBarra {
        0% {
            width: 0%;
            height: 0%;
        }

        100% {
            width: 100%;
            height: 100%;
        }
    }


    footer {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, #F6F4EB, #91C8E4, #749BC2, #4682A9);
        box-sizing: border-box;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        ul li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul li a {
            width: 40%;
            border-radius: 50%;
            background: #F6F4EB;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ul li a:hover {
            background-color: #4682A9;
        }

        #logosEnlaces {
            width: 100%;
            border-radius: 50%;
        }

    }


    div {
        background: #4682A9;
    }
}