* {
    margin: 0;
    padding: 0;
}

    .Fondo {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        position: absolute;
        top: 0;

        box-sizing: border-box;

        background-image: url('../images/windows_xp_fondo.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        z-index: 0;
    }

    .esconder {
        opacity: 0;
        pointer-events: none;
    }

    .mostrar {
        opacity: 1;
        pointer-events: all;
    }


    .administrador {
        width: 70%;
        height: 15%;

        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 20% 80%;
        justify-content: center;
        align-items: center;
        text-align: center;

        position: absolute;
        bottom: 68%;

        border-radius: 0 20px 0 0;

        box-sizing: border-box;
        background: linear-gradient(to bottom, #2A5CD8 60%, #96d1f4);

        z-index: 3;
    }

    .administrador div {
        font-size: 20px;
        text-align: start;
    }

    .administrador img {
        width: 8rem;
        height: 6rem;

        margin: 0;
        padding: 0;

        position: relative;
        left: 25px;

        border-radius: 20px 20px 20px 20px;
        border: 10px solid white;
    }

    .menuWindows {
        width: 70%;
        height: 60%;

        position: absolute;
        bottom: 8%;

        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        background-color: azure;
        z-index: 2;
    }

    .menuWindows article {
        width: 100%;
        height: 100%;

        padding: 6%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 30px;
        text-align: center;
        text-align: justify;

        box-sizing: border-box;

        background-color: #FFFFFF;
    }

    .menuWindows section {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #D4E6FB;
    }

    .menuWindows section h3 {
        margin: 0;
        padding: 0;

        margin-bottom: 1%;

        font-size: 25px;
    }

    .menuWindows section strong {
        margin: 0;
        padding: 0;

        font-size: 15px;

        margin-top: 1%;
        margin-bottom: 1%;

        position: relative;

        right: 0%;
    }

    .fondoBarra {
        width: 90%;
        height: 3%;

        margin: 0;
        padding: 0;

        position: relative;
        bottom: 0.3rem;

        background-color: white;
        border: 1px solid black;

        z-index: 4;
    }

    .fondoBarra span {
        font-size: 20px;

        position: relative;
        bottom: 0.15rem;

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .barra70 {
        height: 99%;

        margin: 0;
        padding: 0;

        background-color: #33D23D;

        animation-name: p70;
        animation-duration: .6s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: unset;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .barra30 {
        width: 30%;
        height: 99%;

        margin: 0;
        padding: 0;

        background-color: #33D23D;

        animation-name: p30;
        animation-duration: .6s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: unset;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    .barra20 {
        width: 20%;
        height: 99%;

        margin: 0;
        padding: 0;

        background-color: #33D23D;

        animation-name: p20;
        animation-duration: .6s;
        animation-timing-function: linear;
        animation-delay: 0;
        animation-iteration-count: unset;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes p30 {
        0% {
            width: 0%;
        }

        100% {
            width: 30%;
        }
    }

    @keyframes p20 {
        0% {
            width: 0%;
        }

        100% {
            width: 20%;
        }
    }

    @keyframes p70 {
        0% {
            width: 0px;
        }

        100% {
            width: 70%;
        }
    }

    .barraTareas {
        width: 100%;
        height: 9%;

        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: 17.9% 17% 17% 16% 16% 16%;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;

        box-sizing: border-box;
        background: linear-gradient(to top, #B6FFFA, #2A5CD8 40%);

        z-index: 3;
    }

    .barraTareas a {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barraTareas a img {
        width: 30%;
        height: 80%;

        border-radius: 20px;
    }

    .barraTareas a img:hover {
        background-color: #9fbaff;
        border-radius: 20px;
    }

    .iconoWindows {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 0 50px 50px 0;

        background: linear-gradient(to top, #FFFFFF, #33D23D 40%);

        z-index: 3;
    }

    .iconoWindows button {
        border: 0 solid transparent;
        background-color: transparent;
    }

    .iconoWindows button img {
        width: 25%;

        margin: 0;
        padding: 0;
    }

    .burbujas {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
    }

    .burbujas span {
        position: relative;

        width: 800px;
        height: 80px;

        background-color: transparent;

        border-radius: 50%;
        box-shadow: 0 0 20px 10px #2A5CD8,
            0 0 100px 0 #96d1f4,
            0 0 50px 0 #D4E6FB;

        animation: burbujasanimadas 10s linear infinite;
        animation-duration: calc(125s / var(--i));

        z-index: 1;
    }

    .burbujas span:nth-child(even) {
        background-color: transparent;

        border-radius: 50%;
        box-shadow: 0 0 30px 10px #96d1f4,
            0 0 100px 0 #2A5CD8,
            0 0 50px 0 #B6FFFA;


        z-index: 1;
    }

    @keyframes burbujasanimadas {
        0% {
            transform: translateY(90vh) scale(0.5);
        }

        100% {
            transform: translateY(-20vh) scale(1);
        }
    }
